body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('./frontbackground.jpg');
}

.header {
    background-color:#7c8c94 ;
    color: white;
    padding: 20px 20px;
    font-size: 35px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.form-container {
    width: 50%;
    margin: 80px auto;
    background: #414141;
    padding: 20px;
    box-shadow: 0 2px 5px rgb(164, 162, 162);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
